@model WebApplication2.Models.ViewProductsViewModel

@using WebApplication2.Models
@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
<section>
    <div class="container page-header">
        <h4 class="font-rubik font-size-30">Résultat de la recherche</h4>
        <div class="list_product grid-container ">
            @foreach (Produit p in Model.Produits)
            {

                <div class="product">
                    <a href="/Produits/DetailsProduct?prodID=@p.ProduitID"><img src="~/images/Produit-@{@p.ProduitID}.jpg" /></a>
                    <div class="text-center font-baloo">
                        <h3 class="font-baloo">@p.Nom</h3>
                        <h4 class="font-size-14 font-rale">@p.fournisseur</h4>
                        <div class="rating font-size-12">
                            <span><em class="fas fa-star"></em></span>
                            <span><em class="fas fa-star"></em></span>
                            <span><em class="fas fa-star"></em></span>
                            <span><em class="fas fa-star"></em></span>
                            <span><em class="fas fa-star"></em></span>
                        </div>
                        <div class="price">
                            <span><strong>@p.Prix Dhs</strong></span>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<section id="list_product">
    <div class="container">
        <h4 class="font-rubik font-size-20 text-center">SmartPhones</h4>
        <hr />
        <div class="owl-carousel owl-theme" id="item_phone">
            @Html.Action("Categorie", "Home", new { cat = 4 })
        </div>
        <button type="submit" class="btn color-primary-bg font-size-20  btn-achat-tout" id="plus" onclick="getCat(this)">Voir tout</button>
    </div>

</section>

