@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap');

:root {
    --primaryColor: #4d4f53;
    --second-Color: #008190;
    --white: #fff;
    --third-color: #609fa7;
    --black2: #555;
    --black3: #5e6163;
    --grey3: #ccc;
}
.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-20 {
    font-size: 18px;
}

.font-size-30 {
    font-size: 30px;
}

.font-baloo {
    font-family: "Baloo Thambi 2",cursive;
}

.font-rale {
    font-family: "Raleway",cursive;
}

.font-rubik {
    font-family: "Rubik",cursive;
}

*{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    font-size:62.5%;
    box-sizing:border-box;
    
}
body,input{
    font-size:1.6rem;
    font-weight:400;
   
}
a{
    text-decoration:none;
}
ul{
    list-style:none;
    
}
img{
    max-width:100%
}

.container_header {
    max-width: 137rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.navigation_container{
    position:relative;
    height:7rem;
   width:100%;
    
}
.navigation_option {
    position: relative;
    height: 5rem;
    width:100%;
    background-color:#f2f2f2;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: 7rem;
    padding: 0 1rem;
}
.nav__logo a {
    font-size: 2.4rem;
    color: var(--second-Color);
    padding: 1.6rem;
    font-weight: 700;
    padding-right: 3rem;
}
.nav__hamburger{
    display:none;
    cursor:pointer;
}
.nav__hamburger svg{
    height:2.3rem;
    width:2.3rem;
}

.menu__top{
    display: none;
}
.nav__menu{
    margin-left:10rem;
    width:50%;
}
.nav__list{
    display:flex;
   align-items:center;
   height:100%;
}
.nav__item:not(:last-child){
    margin-right:5rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
    display: inline-block;
    font-size: 1.5rem;
    position:relative;
    top:0.28rem;
    text-transform: uppercase;
    color: var(--primaryColor);
    transition: color 0.3s ease-in-out;
}
.nav__list .nav__link:hover {
    color: #008190;
}

.nav_icons {
        display: flex;
        position: relative;
}

.nav_icons .icon_item svg {
            width: 2.2rem;
            height: 2.2rem;
            fill: var(--second-Color);
            transition: fill 0.3s ease-in-out;
}
.nav_icons .icon_item svg:hover {
    fill:var(--primaryColor);
}
.nav_icons .icon_item span{
    margin-right:1rem;
    color:var(--primaryColor);
}

.nav_icons .icon_item span:hover {
    color:var(--second-Color);
}
.nav_icons .icon_item{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.7rem;
    
}
.nav_icons .icon_item:link,
.nav_icons .icon_item:visited{
    color:var(--primaryColor);
}

.nav_icons #cart__total{
    font-size:1rem;
    position:relative;
    top:-7px;
    right:7px;
    background-color:var(--primaryColor);
    padding:0.2rem 0.4rem;
    border-radius:100%;
    color:white;
}
.list_option div span{
    display:flex;
    justify-content:center;
}
.list_option  span svg,
.list_option span img {
    width: 4rem;
    height: 4rem;
    fill: #666;
    padding-right: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content:center;
}
.list_option  span h5{
    margin-top:1.5rem;
 
    color:#666;
    font-family: "Baloo Thambi 2",cursive;
    display:flex;
    align-items:center
}
.list_option{
    display:flex;
    justify-content:space-around;
}

.list_option span img{
    color:#666;
}
.search-bar {
    width: 50%;
}
.search-bar {
    position: fixed;
    top:0;
    left:-30rem;
    width: 0;
    background-color: white;
    z-index: 9990;
    height: 100%;
    transition: all 0.5s;
}

    .search-bar.open {
        background-color:var(--third-color);
        border-radius:1rem;
        margin-top:7rem;
        left:0;
    }
.close__search svg{
    width:2rem;
    height:2rem;
    fill:#666;
}

.open .search-input{
    width:90%;
    height:45px;
    margin-left:2rem;
    border-radius:0.5rem;
    margin-top:1.5rem;
    margin-right:4.5rem;
    padding-left:1rem;
}

@media only screen and (max-width: 1200px) {
    .nav__menu {
        position: fixed;
        top: 0;
        left: -30rem;
        width: 0;
        background-color: white;
        z-index: 9990;
        height: 100%;
        transition: all 0.5s;
    }

        .nav__menu.open {
            left: 30rem;
            width: 30rem;
        }

    .nav__logo {
        width: 50%;
        align-items:center;
        padding-left:2rem;
    }
    

    .nav__hamburger {
        display: block;
        background-color: white;
    }
    .nav__hamburger svg {
        fill:var(--second-Color);
        width: 2.8rem;
        height: 2.8rem;
        transition: fill 0.3s ease-in-out;
    }
    .nav__hamburger svg:hover{
        fill:var(--primaryColor);
    }
    .menu__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        padding: 1.8rem 1rem;
    }

        .menu__top svg {
            height: 2.6rem;
            width: 2.6rem;
            fill: var(--second-Color);
        }

    .nav__category {
        color: var(--white);
        font-size: 2.3rem;
        font-weight: 700;
    }

    .nav__list {
        flex-direction: column;
        align-items: start;
        padding: 1.6rem 1rem;
    }

    
    .nav__item{
        margin-top:2rem;
    }

    .nav__item {
        width: 100%;
    }
    body.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: var(--black) none no-repeat 0 0;
        opacity: 0.7;
        z-index: 999;
        transition: 0.8s;
    }
}
@media only screen and (max-width:670px){
    .nav_icons .icon_item #login{
        visibility:hidden;
    }
}
@media only screen and (max-width: 568px) {
    .nav__icons .icon__item svg {
        width: 1.4rem;
        height: 1.4rem;
        
    }

    .nav__icons .icon__item {
        padding: 0.4rem;
    }
    .nav__logo {
        width: 10%;
        align-items: center;
        padding-left: 2rem;
    }
    .nav-logo a {
        font-size: 2rem;
    }
}

/*=======
slider
=======*/

.item-slider{
    position:relative;
}

.position-top{
    position:absolute;
    top:50%;
}

.item-slider .slider-btn .prev,
.item-slider .slider-btn .next{
    background-color:var(--second-Color);
    padding:1rem 1.5rem;
    border-radius:10rem;
    color:white;
    margin:0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.item-slider:hover .slider-btn .prev,
.item-slider:hover .slider-btn .next{
    opacity:1;
}
.right{
    right:4rem;
}
.left{
    left:4rem;
}

.slick-dots{
    display:flex;
    justify-content:center;
    margin:0;
    padding:1rem 0;
    list-style-type:none;
    position:absolute;
    right:50%;
    top:85%;
}
.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display:block;
    width:0.5rem;
    height:0.5rem;
    padding:0;
    border:none;
    text-indent:-9999px;
    background-color:white;
    border-radius:100%;
}

.slick-dots li.slick-active button{
    transform: scale(2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0,0,0.205);
}

.navigation_option .slick-dots button{
    display:none;
   
}


/*=======
end-slider
=======*/

/*
===============
filter-dropdwon
===============
*/
.view-product{
    margin-left:5rem;
    margin-right:5rem;
}
.dropbtn {
    display: flex;
    width: 100%;
    height: 45px;
    padding: 1rem;
    border: none;
    background-color: white;
}
.dropdown-content {
    display: none;
    overflow: auto;
    z-index: 1;
}
.filter{
    margin-top:2rem;
}
.filter-list{
    margin-top: -2rem;
}
.filter-list button,
.couleur button{
    color:var(--second-Color);
    font-size:18px;
}

.list_cat input{
    margin-top: 1.2rem;
    margin-right: 0.6rem;
}
.list_cat label{
    color:var(--primaryColor);
}

.show_content{
    display:block;
}

.list_product{
    display:inline-flex;
    justify-content:normal;
    margin-top:2rem;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 7px;
}
@media only screen and (max-width:1200px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width:630px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

    .grid-container > div {
        background-color: white;
        text-align: center;
    }

.product {
    width: 100%;
    height: 450px;
    transition: transform .5s ease;
}
.product:hover{
    border:1rem;
    border-radius:0.5rem;
    border-color:var(--primaryColor);
    transform: scale(1.1);
}

.product img {
     width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rating {
     color: var(--second-Color);
}

.price {
    margin-top: 1rem;
    color: #ed5565;
}

.price_range {
    margin-left: 2rem;
    margin-top: 2px;
    color:var(--second-Color);

}
/*list_product_home*/
.owl-carousel .item .product a {
    overflow: hidden;
}

.owl-carousel .item .product img {
    transition: transform .5s ease;
}

    .owl-carousel .item .product img:hover {
        transform: scale(0.5);
    }

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: var(--primaryColor);
}

.owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}

.owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

@media (max-width: 991px) {
    .owl-carousel .owl-nav button.owl-prev span {
        margin-left: -2rem;
    }

    .owl-carousel .owl-nav button.owl-next span {
        margin-right: -2rem;
    }
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#list_product{
    margin-top:7rem;
}

.brand {
    font-family: Muli,Arial,sans-serif;
    color: #575756;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
}
.btn-achat-tout {
    background-color: var(--second-Color);
    border-color: white;
    color:white;
    border-radius: 0.5rem;
    position: relative;
    width: 10rem;
    margin-left: 45.5%;
    margin-right: 50.2%;
    top: 10px;
    border-color: white;
    margin-top: 2rem;
    box-shadow: 0 5px 5px 0 #ccc;
}
.btn-achat-tout:hover{
    background-color:var(--third-color);
}
@media screen and (max-width: 991px) {
    .btn-achat-tout {
        position: relative;
        width: 100%;
        margin-top: auto;
        margin-left: auto;
    }
}
.container-fluid{
    padding-left:0px;
    padding-right:0px;
}

py{
    padding-top:5rem;
}
/*
======================
NewsLetter
======================
*/

.newsletter {
    padding: 6rem 0;
    border-top: 1px solid var(--second-Color);
     margin-top:5rem;
}

.newsletter__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter__data h3 {
    font-size: 2.4rem;
    font-weight: inherit;
    margin-bottom: 1rem;
}

.newsletter__data p {
    font-size: 1.5rem;
    color: var(--black2);
}

.newsletter__email {
    font-size: 1.5rem;
    display: inline-block;
    width: 37rem;
    padding: 1.6rem;
    background-color: rgb(194, 193, 192);
    border: none;
    text-indent: 1rem;
}

    .newsletter__email:focus {
        outline: none;
    }

.newsletter__link:link,
.newsletter__link:visited {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin-left: -0.5rem;
    background-color: var(--third-color);
    color: var(--white);
    transition: 0.3s;
}

.newsletter__link:hover {
    background-color: var(--second-Color);
}

@media only screen and (min-width: 998px) {
    .newsletter {
        height: 15rem;
        padding: 3.7rem 4rem;
    }
}

@media only screen and (max-width: 998px) {
    .newsletter {
        padding: 6rem 4rem;
    }

    .newsletter__content {
        flex-direction: column;
        align-items: center;
    }

    .newsletter__email {
        width: 45rem;
    }

    .newsletter__data {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .newsletter__content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .newsletter__email {
        width: 45rem;
        display: block;
        margin-bottom: 1.6rem;
    }
}

@media only screen and (max-width: 568px) {
    .newsletter__email {
        width: 23rem;
        font-size: 1.2rem;
    }

    .newsletter__data h3 {
        font-size: 1.6rem;
    }

    .newsletter__data p {
        font-size: 1rem;
    }

    .newsletter__link:link,
    .newsletter__link:visited {
        padding: 1.2rem 2rem;
        margin-left: 0;
    }
}

/*
=======
footer
=======
*/
.footer {
    background-color: var(--black3);
    padding: 6rem 1rem;
    line-height: 3rem;
}

.footer-top__box span svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey3);
}

.footer-top__box span {
    margin-right: 1rem;
}

.footer__top {
    padding-left: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited {
    display: block;
    color: white;
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-top__box a:hover {
    color: var(--third-color);
}

.footer-top__box div {
    color: white;
    font-size: 1.4rem;
}

.footer-top__box h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
    .footer__top {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer__top {
        grid-template-columns: 1fr;
    }
}
#partialview{
    margin-top:6rem;
}

.input_search .dropdown {
    float: left;
    overflow: hidden;
}

    .input_search .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }



.input_search .dropdown-content {
    display: none;
    z-index: 1;
}

    .input_search .dropdown-content input {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .input_search .dropdown-content input:hover {
            background-color: #ddd;
            z-index: 5;
            position: absolute;
            overflow: hidden;
            top: 100%;
            right: 0;
            pointer-events: none;
            z-index: 5;
        }

.input_search .dropdown:hover .dropdown-content {
    display: block;
}

.img-fluid{
    height:450px;
}
/*
========
product
========
*/

#cart__product {
    width: 100%;
    height: 500px;
    transition:transform .5s ease;
}
#cart__product:hover {
    transform: scale(1.1);
}

.btn-achat-product {
    width: 150px;
    height: 50px;
    border-radius: 0.6rem;
    background-color: var(--second-Color);
    box-shadow: 0 5px 5px 0 rgb(194, 193, 192);
    transition: transform .5s ease;
}

    .btn-achat-product:hover {
        background-color: var(--third-color);
    }

.quantite__input {
    width: 3.5rem;
    height: 3.5rem;
    border: hidden;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.diminue_qt,
.augmente_qt {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.2rem;
    border: none;
}

.quantite_value {
    display: flex;
    justify-content: left;
}

    .quantite_value h4 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

@media only screen and (max-width: 888px) {
    .achat__spec {
        display: block;
    }

    .achat-product {
        display: flex;
        justify-content: center;
    }

    .btn-achat-product {
        width: 450px;
        height: 40px;
    }
    #cart__product{
        width:350px;
        height:400px
    }
}

#color {
    width: 100%;
    height: 35px;
    background-color: rgb(228, 227, 227);
    box-shadow: 2.5px 2.5px #888888;
    border: none;
}

.product-old-price {
    color: #151515;
    letter-spacing: .09px;
    line-height: 15px;
    margin-right: 8px;
    text-decoration: line-through;
}

@media only screen and (max-width: 846px) {
    .product-old-price {
        display: block;
    }
}

@media only screen and (max-width: 658px) {
    .price {
        display: block;
    }
}

@media only screen and (max-width: 883px) {
    #product_spec {
        top: -33rem;
    }
}

@media only screen and (min-width: 884px) {
    #product_spec {
        top: -22rem;
    }
}

@media only screen and (max-width: 774px) {
    #product_spec {
        top: -40rem;
    }
}

@media only screen and (max-width: 640px) {
    #product_spec {
        top: -45rem;
    }
}

@media only screen and (max-width: 576px) {
    #product_spec {
        top: 0rem;
        width: 100%;
    }
    #cart__product{
        width:100%;
    }
}

.economise {
    font-size: 14px;
    border-radius: 0.5rem;
    background-color: rgb(19, 163, 74);
}


.details .dropbtn {
    display: flex;
    width: 100%;
    height: 45px;
    padding: 0;
    border: none;
    background-color: var(--color-third);
}

.details .dropdown-content {
    display: none;
    overflow: auto;
    z-index: 1;
    background-color: var(--color-third);
}

    .details .dropdown-content h3 {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .details .dropdown-content p {
        margin-left: 1rem;
    }

.show_x {
    display: block;
}

.details_livr svg, .details_livr img {
    width: 3rem;
    height: 3rem;
    fill: #666;
    padding-right: 1rem;
}

/*
=========
panier
=========
*/
.panier_achat {
    display: flex;
    justify-content: space-between;
}

    .panier_achat h5 {
        font-size: 35px;
    }

.btn-back-to-achat, .btn-paiement {
    width: 220px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0.3rem;
    box-shadow: 0 5px 5px 0 #ccc;
    transition: transform .5s ease;
}

.btn-back-to-achat {
    color: var(--white);
    background-color: var(--second-Color);
}

.btn-paiement {
    color: white;
    background-color: var(--primaryColor);
}

    .btn-back-to-achat:hover,
    .btn-paiement:hover {
        background-color: var(--third-color);
    }

@media only screen and (max-width:840px) {
    .panier_achat {
        display: block;
    }

    .btn-back-to-achat, .btn-paiement {
        width: 100%;
    }

    .btn-panier {
        margin-top: 2rem;
    }
}

.panier_description, .total {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 35px;
    align-items: center;
}
/*
========
login
========
*/

.login input {
    width: 90%;
    height: 40px;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
}

.login a {
    color: rgb(29, 29, 90);
    padding-top: 2rem;
}

.login h6 {
    font-size: 18px;
    color: grey;
}
.login h5{
    font-size: 28px;
    color: var(--primaryColor);
}

.login h3 {
    color: rgb(29, 29, 90);
}

.login .cnx {
    width: 250px;
    height: 50px;
    background-color: var(--second-Color);
    color: white;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    transition: transform .5s ease;
    box-shadow: 0 5px 5px 0 #ccc;
}
.login .cnx:hover{
    background-color:var(--third-color);
}